langchain
langchain-ollama
langchain-chroma
qdrant-client
langchain-qdrant
pandas
pypdf
scikit-learn
flask
flask-cors
sentence-transformers
pillow
chromadb
numpy
torch
openpyxl
python-docx
python-pptx
python-magic

